<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
    <h1 style="color: green">It is <%=Day%></h1>
    <h1 style="color: blue">Right now is <%=Time%></h1>
    <ul>
      <% for (var i=0; i < newListItems.length; i++){ %>
         <li><%= newListItems[i] %></li>
    <%  } %>
    </ul>
    <form class="" action="/" method="POST">
      <input type="text" name="newItem" />
      <button type="submit" name="submit">Add</button>
    </form>
  </body>
</html>
